pandas==1.0.5
streamlit==0.65.2
emot==2.1
scikit-learn==0.23.1
spacy==2.3.2
https://github.com/explosion/spacy-models/releases/download/pt_core_news_md-2.3.0/pt_core_news_md-2.3.0.tar.gz#egg=pt_core_news_md==2.3.0